@section Scripts {
    <script type="text/javascript" src="~/js/streamkit.js"></script>
}

<div class="panel panel-default">
    <div class="panel panel-heading">Bitbar</div>
    <div class="panel-body">
        <form method="post" runat="server" enctype="multipart/form-data" action="Streamkit/BitbarSubmit">
            <div class="form-group">
                <label for="value">Value</label>
                <input type="text" class="form-control small-input" name="value" value="@ViewBag.Bitbar.Value" /><br />
            </div>

            <div class="form-group">
                <label for="maxValue">Max value</label>
                <input type="text" class="form-control small-input" name="max_value" value="@ViewBag.Bitbar.MaxValue" /><br />
            </div>

            <div class="form-group">
                <label for="color">Target Color</label><br />
                <input type="color" id="target_color" value="@("#" + ViewBag.Bitbar.TargetColor)" /><br />
                <input type="text" id="target_color_hex" name="target_color" class="form-control small-input" value="@("#" + ViewBag.Bitbar.TargetColor)">
            </div>

            <div class="form-group">
                <label for="color">Fill Color</label><br />
                <input type="color" id="fill_color" value="@("#" + ViewBag.Bitbar.FillColor)" /><br />
                <input type="text" id="fill_color_hex" name="fill_color" class="form-control small-input" value="@("#" + ViewBag.Bitbar.FillColor)">
            </div>

            <hr />

            <div class="form-group">
                <label for="image">Image file</label>
                <input type="file" runat="server" name="image">
            </div>


            <div class="container-fluid">
                <div class="col-md-12 text-center">
                    <button class="btn btn-primary">Update</button>
                </div>
            </div>
        </form>
    </div>
</div>